* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $s-bg;
  font-family: $p-font;
  // font-weight: 100;
}

img {
  display: block;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
