.profile-thumb-img {
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #92aedb;
  margin-right: 10px;
  i {
    color: #cedaef;
  }
}
