.shadow-light:hover {
  box-shadow: 1px 1px 1em 1px lightgray;
}
.shadow-dark:hover {
  box-shadow: 1px 5px 1em 1px rgb(80, 80, 80);
}
.shadow-color:hover {
  box-shadow: 1px 5px 1em 1px rgb(255, 0, 132);
}
