@import '../../style/config/color_config';
@import '../../style/modules/profile_thumbnail';
@import '../../style/modules/gradients';
@import '../../style/modules/buttons';
@import '../../style/modules/inputs';

// TODO: Need to create App Top Level UL as part of the top level GRID layout
//-----------------------//
.placeholder-container {
  height: 100vh;
  justify-content: center;
}
//-----------------------//

.playlist {
  width: 570px;
  height: 220px;
  .pl-title-container {
    margin-bottom: 25px;
    line-height: 2em;
    h2 {
      color: $p-text;
    }
    p {
      color: $s-text-dark;
    }
  }
  .pl-content-container {
    padding: 20px;
    height: inherit;
    width: inherit;
    .pl-img {
      height: 100%;
      position: relative;
      margin-right: 20px;
      img {
        height: 100%;
      }
      .pl-img-btn {
        position: absolute;
        top: 34%;
        bottom: 34%;
        left: 34%;
        right: 34%;
        border-radius: 50%;
        background-color: $sc-orange;
        align-items: center;
        justify-content: center;
        i {
          color: $white;
          font-size: 25px;
          margin-left: 5px;
        }
        &:hover {
          cursor: pointer;
          background-color: $sc-orange-dark;
        }
      }
    }
    .pl-list {
      overflow-y: scroll;
      overflow-x: hidden;
      .pl-list-item {
        height: 40px;
        font-size: 12px;
        border-bottom: 1px solid $divider-transparent;
        align-items: center;
        .pl-list-item-trackinfo-container {
          color: $white;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .pl-list-item-artist {
            color: $s-text-transparent;
          }
        }
        .pl-list-item-actions-container {
          display: none;
          margin: 0 13px 0 auto;
          .pl-list-item-actions-list {
            display: flex;
            li {
              border: 1px solid $s-text;
              border-radius: 3px;
              padding: 2px 4px;
              margin-right: 4px;
              &:last-of-type {
                margin-right: 0;
              }
              i {
                color: $white;
              }
            }
          }
        }
        &:hover {
          cursor: pointer;
          background-color: $divider-transparent;
          .pl-list-item-actions-container {
            display: block;
          }
        }
      }
    }
  }
  .pl-actions {
    padding: 20px 0;
    border-bottom: 1px solid $s-bg;
    .pl-actions-profile {
      align-items: center;
      p {
        color: $s-text-dark;
      }
    }
    .pl-actions-btn {
      margin-left: auto;
      padding: 0 10px;
    }
  }
}
